@media (max-width: 900px) {
  .wrapper {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left,
  .right {
    width: 100%;
    padding-top: 0px !important;
  }
}
