:root {
  --primary-color1: #9381ff;
  --main-color: #9381ff;
  --secondary-color: #b8b8ff;
  --tertiary-color: #f8f7ff;

  --font-family: "Arial", sans-serif;
  --font-size-large: 2em;
  --font-size-medium: 1.5em;
  --font-size-small: 1rem;
  --font-weight-bold: bold;
  --font-weight-normal: normal;

  /* ------- colors ------- */
  --link-color: #7a43e9;
  /* ---------------------- */

  /* ------- fonts ------- */
  --primary-font: "Heebo", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  /* --------------------- */
}
